name: Update index.html

on:   push

jobs: 
  run:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        dir
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python update.py
        dir
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "github-actions"
        clean=$(git diff-index --quiet HEAD)
        echo $clean
        git add --all
        git commit -m "Add changes" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
